
/* mat-card
{
  width: 80%;
  margin: auto;
} */
mat-form-field,
textarea{
  width: 100%;
}

mat-spanner{
  margin:auto;
}

input[type='file']{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin:1rem 0;
}

.image-preview img{
  height: 100%;
}
.pick-image:hover {
  cursor: pointer;
  background-color: rgba(150, 220, 255, 0.9);
}
